<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SALARY.Dao.MessageDao">
    <select id="findAll" resultType="com.SALARY.domain.Message">
        select * from 员工信息
    </select>
    <select id="findById" resultType="com.SALARY.domain.Message" parameterType="int">
        select * from 员工信息 where 编号=#{id}
    </select>
    <insert id="insert" parameterType="com.SALARY.domain.Message">
        insert into 员工信息(编号,姓名,照片,年龄,电话) values(#{id},#{name},#{photo},#{age},#{phone})
    </insert>
    <delete id="del" parameterType="int">
        delete from 员工信息 where 编号=#{id}
    </delete>
    <update id="update" parameterType="com.SALARY.domain.Message">
        update 员工信息 set 姓名=#{name},照片=#{photo},年龄=#{age},电话=#{phone} where 编号 = #{id}
    </update>
</mapper>