<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SALARY.Dao.SubsidyDao">
    <select id="findAll" resultType="com.SALARY.domain.Subsidy">
        select * from subsidymonth
    </select>
    <select id="findById" resultType="com.SALARY.domain.Subsidy" parameterType="int">
        select * from subsidymonth where id=#{id}
    </select>
    <insert id="insert" parameterType="com.SALARY.domain.Subsidy">
        insert into subsidymonth(id,month,overtime_type,overtime_days,subsidy) values(#{id},#{month},#{overtime_type},#{overtime_days},#{subsidy})
    </insert>
    <delete id="del" parameterType="int">
        delete from subsidymonth where id=#{id}
    </delete>
    <update id="update" parameterType="com.SALARY.domain.Subsidy">
        update subsidymonth set month=#{month},overtime_type=#{overtime_type},overtime_days=#{overtime_days},subsidymonth=#{subsidy} where id = #{id}
    </update>
</mapper>